.loading-map {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}


.btn-bg-color {
    background-color: #61DAFB;
    border: #61DAFB;
}


.btn-bg-color:hover {
    background-color: #2bb0d4;
    border: #2bb0d4;
}


.btn-outline-color {
    color: #61DAFB;
    border-color: #61DAFB;
}


.btn-outline-color:hover {
    color: white;
    border-color: #61DAFB;
    background-color: #61DAFB;
}


.floating-elements {
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2))
}


.search-container {
    background-color: whitesmoke;
    border-radius: 5px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 250px;
    z-index: 999;
}


.pointer {
    cursor: pointer;
}